app/node_modules/**/*
app/.expo/*
app/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
app/web-build/
app/web-report/
app/.idea/*

app/src/firestoreCredential*
cli/migrations/credentials
cli/keys

app/build/*
