app/node_modules/**/*
app/.expo/*
app/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
app/web-build/
app/web-report/
app/.firebaserc
app/migrations/credentials.py
app/migrations/serviceAccount.json
app/.idea/*
app/src/firestoreCredentials.js
