node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.firebaserc
migrations/credentials.py
migrations/serviceAccount.json
.idea/*
src/firestoreCredentials.js
